.hero{
    text-align:center;
    padding:50px 20px 30px;
}

.hero h2{
    font-size:32px;
    color:#e2b96f;
    margin-bottom:10px;
}

.leaderboard-container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding-bottom:50px;
}

.podium{
    display:flex;
    justify-content:center;
    align-items:end;
    gap:20px;
    margin-bottom:50px;
}

.podium-card{
    background:#16213e;
    padding:20px;
    border-radius:10px;
    text-align:center;
    width:180px;
}

.podium-card h3{
    font-size:40px;
    margin-bottom:10px;
}

.podium-card p{
    color:#e2b96f;
    font-weight:bold;
    margin-bottom:5px;
}


.first{
    padding-top:40px;
    padding-bottom:40px;
}

.second{
    opacity:0.9;
}

.third{
    opacity:0.8;
}


.ranking-table{
    background:#16213e;
    border-radius:10px;
    overflow:hidden;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#0f172a;
}

thead th{
    color:#e2b96f;
    padding:15px;
    text-align:left;
}

tbody tr{
    border-top:1px solid rgba(255,255,255,0.08);
}

tbody tr:hover{
    background:rgba(255,255,255,0.03);
}

tbody td{
    padding:15px;
    color:#eee;
}


footer{
    text-align:center;
    padding:20px;
    background:#16213e;
    color:#aaa;
    margin-top:40px;
}